body{
  background: radial-gradient(#fff, #aaa);
  background-size: 100vw 100vh; 
}
h1 {
position: absolute;
margin-top: 30vh;
width: 100%;
text-align: center;
font-size: 333%;
font-family: sans-serif;
color: grey;
opacity: 0.5;
}

#canvas {
overflow-y: hidden;
overflow-x: hidden;
width: 100%;
margin: 0;
z-index: -1;
}
#c{
  z-index: 0;
  position: absolute;
	top: 0;
	left: 0;
}
}


