body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  color: white;
}
::-webkit-scrollbar {
  display: none;
}
.card {
  background-color: rgba(0, 0, 0, 0.8);
  word-wrap: break-word;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-style: solid;
  padding: 40px;
  border-width: 3px;
  border-color: rgba(255, 221, 0, 0.5);
}
.card:hover {
  animation: border-color 1s infinite;
}
@media only screen and (max-width: 600px) {
  .card {
    padding: 10px;
  }
}
.form {
  margin-left: auto;
  margin-right: auto;
  vertical-align: bottom;
}
input[type="text"] {
  height: 40px;
  width: 70vw;
  border-color: rgba(255, 217, 0, 0.555);
  border-width: 2px;
  box-shadow: green;
  text-align: center;
  font-size: large;
  font-family: "Jost", sans-serif;
  outline: none;
  border-radius: 20px;
}
#questiongif {
  width: 100px;
  height: 100px;
  align-items: center;
  border-radius: 100%;
}

.hint {
  font-size: large;
  font-family: "Jost", sans-serif;
}

.puzzleno {
  font-size: 45px;
  font-family: "Jost", sans-serif;
}
@keyframes border-color {
  0% {
    border-color: rgba(255, 221, 0, 0.733);
  }

  50% {
    border-color: green;
  }

  100% {
    border-color: rgba(255, 221, 0, 0.473);
  }
}

/*Title hunt*/
.title {
  font-family: "Jost", sans-serif;
  font-weight: bolder;
  font-size: 60px;
  color: rgb(255, 221, 0);
}
@media only screen and (max-width: 600px) {
  .title {
    font-size: 30px;
  }
}
.tracking-in-contract-bck-top {
  -webkit-animation: tracking-in-contract-bck-top 1s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-5-4 18:42:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck-top
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

#particles-js canvas {
  display: block;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
  transition: opacity 0.8s ease, transform 1.4s ease;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}
