<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet">
  </head>

  <body>
    <center>
        <h1 class="puzzleno"></h1>
      <img
        src="https://media.giphy.com/media/l4FGroaKiE5uuMBiM/source.gif"
        id="questiongif"
      />
      <div class="card">
          <h1 class="puzzleno">#1</h1>
        <div class="hint">Aakirithiyar.Very black.Name starts with K.</div>
        <br />
        <br />
        <form
          action=""
          method="POST"
          id="form1"
          class="form"
          autocomplete="off"
        >
          <input type="text" name="name" placeholder="Who am I ?" id="q1text" />
          <input type="hidden" name="phone" value="" />
        </form>
      </div>
    </center>

    <script>
      var q1text = document.getElementById("q1text");

      q1text.onkeyup = function () {
        console.log(q1text.value);
        if (q1text.value == "kural") {
          document.getElementById("form1").submit();
        }
      };
    </script>
  </body>
</html>
