body {
  font-family: "Jost", sans-serif;
  background-color: black;
  overflow: auto;
  overflow-wrap: break-word;
}
h3 {
  color: white;
}
.flip-card {
  margin: 20px auto;
  background-color: rgba(0, 0, 0, 0.5);
  width: 75vw;
  height: 60vh;
  padding: 10px;
  perspective: 1000px;
  border-width: 1px;
  border-radius: 20px;
}

.flip-card-inner {
  border-radius: 20px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  border-color: rgb(255, 221, 0);
  border-width: 2px;
  border-style: solid;
  border-radius: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: black;
}

.flip-card-back {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  transform: rotateY(180deg);
}

@media only screen and (max-width: 600px) {
  .flip-card {
    width: 80vw;
    height: 60vh;
  }
  .weImg{
    width: 80vw;
    height: 60vh;
    padding: 10px;
  }
  .flip-card-back {
    overflow: scroll;
  }
  .sticky {
    width: 90vw;
    font-size: medium;
  }
  p{
    font-size: large;
  }
  .sticky{
    width: 80vw;
    font-size: 20px;
  }
  
}
.ques_img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  vertical-align: bottom;
}
.answer {
  padding: 10px;
}
.name {
  font-size: xx-large;
}
h3 {
  padding: 20px;
  font-size: x-large;
}
img {
  margin: auto 0;
}
.sticky {
  font-size: xx-large;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
  z-index: 1;
  color: rgb(8, 157, 226);
  width: 75vw;
  text-align: center;
  background-color: rgba(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  width: 75vw;
  overflow: auto;
  overflow-wrap: break-word;
  
}

#particles-js canvas {
  display: block;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
  transition: opacity 0.8s ease, transform 1.4s ease;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}

.weImg{
  object-fit: contain;
  width: 75vw;
  height: 50vh;
  padding: 10px;

}
